/*Fonts*/

@font-face {
    src: url(fonts/norse-font/Norse-KaWl.otf);
    font-family: norse;
}

@font-face {
    font-family: nordika;
    src: url(fonts/nordica-font/Nordicablack-Xa39.otf);
}

/* Sweet icon hover thing */
.icon {
    margin: none;
    padding: none;
    border-radius: 2px;
    display: inline;
}

.icon--insta:hover {
    background-image:
    radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%,
    #fd5949 45%, #d6249f 60%,
    #285AEB 90%);
    outline-color: #a02d76;
}
.icon--youtube:hover {
    background-image: radial-gradient(circle at 30% 107%,
    red 20%, white 60%, red 90%);
}

.icon--tiktok:hover {
    background-image: radial-gradient(circle at 60% 120%,
    black 50%, #ff0050 60%, white 65%, #00f2ea 70%, black 80%)
}

/* 
    Getting there
*/

/* link */
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}

body {
    background-image: linear-gradient(90deg,#D42000 1%, #1A1919 2%, #1A1919 98%, #D42000 99%);
    background-repeat: no-repeat;
}

#header{
    margin-top: 170px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
#header img{
    max-width: 666px;
    object-fit: contain;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.column {
    background-color: #3E3F47;
    background-blend-mode:normal;
    max-width: 666px;
    padding: 3%;
    display:block;
    justify-content: center;
}

.column img, iframe {
    max-width: 666px;
    object-fit: contain;
    width: 100%;
}

.column p {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

h1 {
    color: red;
    font-size: 150px;
}

#link-list a {
    font-size: 100px;
    color: whitesmoke;
}

ul {
    list-style-type: none;
}

.navbar {
    height: 66px;
    width: 100%;
    align-items: center;
}

.logo {
    display: inline;
    align-items: center;
}

#valhallabass {
    height: 66px;
}

.navbar label {
    color: whitesmoke;
}

.navbar .nav-links {
    display: inline;
    float: right;
    font-size:x-large;
    font-weight: 200;
    font-family:nordika;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}

.navbar .nav-links a {
    display: inline;
    align-self: center;
    padding: 10px 5px 10px 5px;
    align-self: stretch;
}

.navbar .nav-links .icon {
    align-self: stretch;
}

.navbar .nav-links .icon img {
    position: relative;
    top: 5px;
    color: white;
}

.navbar .nav-links a:hover {
    background-color: rgba(0,0,0,0.3);
}

.navbar .nav-butt {
    display: none;
}

.navbar #nav-check {
    display: none;
}

@media (max-width:911px) {
    .navbar .nav-butt {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .navbar .nav-butt label {
        display: inline-block;
        font-size: xx-large;
        width: 50px;
        height: 50px;
        padding: 18px;
    }
    .navbar .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 75px;
        left: 0px;
    }
    .navbar .nav-links a {
        display: block;
        width: 100%;
    }
    .navbar #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .navbar #nav-check:checked ~ .nav-links {
        height: calc(66vh - 120px);
        overflow-y: auto;
    }
    .navbar .nav-links .icon {
        height: 45px;
        padding: 25px 10px 5px 40px;
        align-self: center;
    }
}

#audio {
    display: flex;
    justify-content: center;
}



  